@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
  themes: light --default;
}

html,
body {
  height: 100%;
}

body {
  background: linear-gradient(180deg, #ffffff 0%, #ecfdf5 100%);
  color: rgb(15 23 42);
}